.boxa, .boxb, .boxc, .boxe, .boxd, .boxf {
	border: 1px solid black;
	width: 70px;
	height: 70px;
	padding:0px;
	margin:20px;
	color: white;
	font-size: 85%;
	font-weight:bold;
}

.boxa,.boxb,.boxc,.boxd,.boxe,.boxf {
	float:left;
}
.boxd{clear:left;}

.arrow{
	position: absolute;
	bottom: 55px;
	left: 50px;
}
.ribbon{
	position: absolute;
	top: 0px;
	right: 0px;
}

header{
	margin-right: 10px
}

.boxa {
	background-color: red;
	margin-left:25px;
	position: relative;
}

/*
.boxa:hover, .boxb:hover, .boxc:hover, .boxe:hover, .boxd:hover, .boxf:hover {
	width: inherit;
	margin-left: 0px;
	text-align: center;	
}
*/
.boxb {
background-color: orange;
margin-left:25px;
position: relative;


}
.boxc {
background-color: yellow;
margin-left:25px;
position: relative;

;
}
.boxd {
background-color: green;
margin-left:25px;
position: relative;
}
.boxe {
background-color: blue;
margin-left:25px;
position: relative;
}
.boxf {
background-color: violet;
margin-left:25px;	
position: relative;
